* {
    margin: 0;
    padding: 0;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    height: 80px;
    width: 100%;
    z-index: 6;
    transition: .5s;
    background-color: #333;
    opacity: .9;
    font-family: 'Raleway' , sans-serif;

    &__logo {
        
        &--wrapper {
            height: 80px;
            margin-left: 31%;
            display: flex;
        }

        &__text {
            color: #fff;
            font-weight: 700;
            font-size: 1.35em;
            text-decoration: none;
            text-shadow: -2px 2px 1px #000;
            align-self: center;
            z-index: 9;
            transition: .3s;
            display: flex;
            align-items: center;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 80px;
        font-size: .65em;

        &--wrapper {
            position: fixed;
            top: 0;
            right: 0;
            height: 80px;
            width: 100%;
            margin-right: 31%;
        }

        &--item {
            align-items: center;
            list-style-type: none;

            &:first-child {
                padding-right: 40px;
            }

            &:nth-child(2){
                padding-right: 40px;
            }
        }

        &--link {
            font-size: 1.25em;
            font-weight: 700;
            line-height: 1.25;
            color: #fff;
            text-decoration: none;
            text-shadow: -1px 1px 2px #000;
        }
    }
}

.active {
    color: #f50;
}